WebSocketClient/Service References/ServiceReference1/WebSocketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebSocketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IWebSocketService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/WebSocketService_WCF/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/WebSocketService_WCF/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebSocketService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IWebSocketService_Send_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:portType name="IWebSocketService">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSocketService/Hello" message="tns:IWebSocketService_Hello_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSocketService/Send" message="tns:IWebSocketService_Send_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWebSocketServiceForJS" />
  <wsdl:binding name="NetHttpBinding_IWebSocketService" type="tns:IWebSocketService">
    <wsp:PolicyReference URI="#NetHttpBinding_IWebSocketService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/IWebSocketService/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/IWebSocketService/Send" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IWebSocketServiceForJS" type="tns:IWebSocketServiceForJS">
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
  </wsdl:binding>
  <wsdl:service name="WebSocketService">
    <wsdl:port name="NetHttpBinding_IWebSocketService" binding="tns:NetHttpBinding_IWebSocketService">
      <soap12:address location="ws://localhost:8733/WebSocketService_WCF/" />
      <wsa10:EndpointReference>
        <wsa10:Address>ws://localhost:8733/WebSocketService_WCF/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_IWebSocketServiceForJS" binding="tns:CustomBinding_IWebSocketServiceForJS">
      <soap12:address location="ws://localhost:8733/WebSocketService_WCF_ForJS/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>